name: Regression Tests

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y cmake g++ clang-tidy make

      - name: Run cmake
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTING=ON -DBUILD_EXECUTABLE=OFF && cmake --build build

      - name: Run clang-tidy
        run: cmake --build build --target clang-tidy || true

      - name: Build project
        run: cmake --build build -- -j$(nproc)

      - name: Run regression tests
        run: ./build/tests/geo_tests --gtest_output=xml:test-results.xml || (echo "âŒ Tests failed!" && exit 1)

      - name: Upload test summary
        if: always()
        run: |
          echo "Test Summary" >> $GITHUB_STEP_SUMMARY
          echo "Build and tests finished at $(date)" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
